@page "/"
<BlazorProject.Components.Modal ShowModal="@ShowModal"
                                ShowModalChanged="@((newValue) => ShowModal = newValue)"
                                Destination="@Destination"
                                Distance="@Distance"
                                IsUnknownDestination="@IsUnknownDestination" />



<PageTitle>Home</PageTitle>


<h1>Choose destination</h1>


<section class="group">
    <div id="Destination1" class="boxes" @onclick="@(() => OpenModal("Post Hus", 2.5))">
        <img src="img/PostHus.png" alt="Alternate Text" />
        <p>Post Hus</p>
    </div>
    <div id="Destination2" class="boxes" @onclick="@(() => OpenModal("Apotekt", 3))">
        <img src="img/HaraldNyborg.png" alt="" />
        <p>Haraldnyborg</p>
    </div>
    <div id="Destination3" class="boxes" @onclick="@(() => OpenModal("", 0))">
        <img src="img/Apotek.png" alt="Alternate Text" />
        <p>Apotek</p>
    </div>
    <div id="Destination4" class="boxes" @onclick="@(() => OpenModal("Dyre Hospital", 7.8))">
        <img src="img/Dyrehospital.png" alt="Alternate Text" />
        <p>Dyre Hospital</p>
    </div>
    <div id="Destination5" class="boxes" @onclick="@(() => OpenModal("Lager", 1.2))">
        <img src="img/Grossistlager.png" alt="Alternate Text" />
        <p>Lager</p>
    </div>
    <div id="Destination6" class="boxes" @onclick="@(() => OpenModal("Kunde Besøg", 6.3))">
        <img src="img/Kundebesog.png" alt="Alternate Text" />
        <p>Kunde Besøg</p>
    </div>
    <div id="Destination7" class="boxes" @onclick="@(() => OpenModal("Kliniken", 4))">
        <img src="img/KlinikkensAndenAfdeling.png" alt="Alternate Text" />
        <p>Klinikken</p>
    </div>
    <div id="Destination8" class="boxes" @onclick="@(() => OpenModal("Langt væk", 10))">
        <img src="img/UkendtDestination.png" alt="Alternate Text" />
        <p>Ukendt</p>
    </div>

</section>



@code {
    private bool ShowModal { get; set; } = false;
    private string Destination { get; set; } = "";
    private double Distance { get; set; } = 0;
    private bool IsUnknownDestination { get; set; } = false;

    private void OpenModal(string destination, double distance)
    {
        Destination = destination;
        Distance = distance;
        IsUnknownDestination = string.IsNullOrWhiteSpace(destination);
        ShowModal = true;
    }

}




<style>
    .group {
        display: flex;
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        padding-top: 10px;
    }

    .boxes {
        width: 100px;
        height: 100px;
        outline: solid;
        border-radius: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }

    img{
        margin-top: 10px;
        height: 60px;
        width: auto;
    }

    .table {
        outline: solid;
    }
    @@media (max-width: 800px){
        .group {
            grid-template-columns: repeat(2, auto);
        }

        .boxes {
            margin-top: 5px;
        }
    }


</style>